# Conexão com a rede que simula sua infraestrutura privada
SEPOLIA_URL="https://eth-sepolia.g.alchemy.com/v2/COLE_SUA_CHAVE_AQUI"

# Conexão com a rede Polygon L2 para auditoria
AMOY_URL="https://polygon-amoy.g.alchemy.com/v2/COLE_SUA_CHAVE_AQUI"

# Sua chave da MetaMask (NUNCA COMPARTILHE)
PRIVATE_KEY="COLE_SUA_CHAVE_PRIVADA_AQUI"
